/*
 * Breadcrumb controls that appear on various pages. 
 */
.breadcrumb 
{
	font-size:1.2em;
	font-weight:bold;
	margin:5px 0;
}

.breadcrumb li:after
{
	content: " > ";
}

.breadcrumb a:after
{
	/* Clear content for FireFox */
	content: "";
}