h1.whatsnew
{
	font-size: 1.2em;
	font-weight: bold;
	margin: 5px 0px 5px 0px;
}

h2.whatsnew
{
	font-size: 1.0em;
	font-weight: bold;
	margin: 0px;
	width: 100%;
	float: left;
}

div.images
{
	float: left;
	width: 100%;
}

div.whatsnew_image,
div.whatsnew_imagealt
{
	float: left;
	padding: 22px 0px 4px;
	width: 97%;
	float: left;
	padding: 5px 0px 5px 5px;
	width: 97%;
	background-color: #e0e0e0;
}

div.image
{
	background-color: #e0e0e0;
}

div.picture
{
	float: left;
	width: 100px;
	background-color: #e0e0e0;
}

div.link
{
	float: left;
	margin-top: 5px;
}

div.link a,
div.whatsnew_image a,
div.whatsnew_imagealt a
{
	color: #636364;
	font-weight: bold;
	text-decoration: none;
}

div.link a
{
	background-color: #636364;
	border: 1px solid #AAABB8;
	color: #FFFFFF;
	padding: 2px;
}